.container{
  width: 100vw;
  height: 100vh;
  background: #0069c0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container{
  background: #97e9ff;
  padding: 40px;
  border-radius: 20px;
}

.option-container{
  display: flex;
  flex-direction: row;
  gap:20px;
  width: 100%;

}
.row-container{
  display: flex;
  flex-direction: row;
  gap:20px;
  width: 100%;

}
.result-container{
  display: flex;
  flex-direction: column;
  gap:5px;
  width: 100%;

}
.result{
  display: flex;
  flex-direction: row;
  gap:5px;
  align-items: center;
}
.row-container img{
  border-radius: 10px;
  max-width: 90px;
  max-height: 90px;
  object-fit: contain;

}
.option-img{
  border-radius: 10px;
  max-width: 90px;
  max-height: 90px;
  object-fit: contain;
}

.result img{
  border-radius: 10px;
  max-width: 160px;
  max-height: 160px;
  object-fit: contain;
}

button{
  background:  #0069c0;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}